<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="Almacen" value="CA"/>
    <add key="Usuario" value="SI"/>
    <add key="Lugar" value="Almacen"/>
    <add key="ServerName" value="serveragro2.no-ip.org"/>
    <add key="DataBaseName" value="AGRO"/>
    <add key="UserId" value="sa"/>
    <add key="Password" value="intelisis"/>
  </appSettings>
  <connectionStrings>
    <add name="conexionBD" connectionString="user id=sa; password=intelisis; database=Agro; server=serveragro2.no-ip.org; Connect Timeout = 1000000" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
